html, body, #app, #app>div {
  height: 100%
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.layout-box {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.top-bar {
  width: 100%;
  height: 68px;
  /*background: linear-gradient(to right, #fe76c2, #37c7f2);*/
  background-color: #282c34;
  display: flex;
  flex-shrink: 0; 
  justify-content: center;
  align-items: center;
}

.top-bar > h1 {
    color: #ffffff;
    font-size: 22px;
}

.main-container {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  margin: auto;
  padding-top: 50px;
  position: relative;
}

.editor {
  display: grid;
}

#textfield {
  display: inline-block;
  padding: 15px 10px;
  line-height: 140%;
  caret-color: #3f51b5;
  background: #e8e8e854;
  margin-bottom: 2rem;
}

#btnStack {
  margin-top: 2rem;
}

.TransformationListItem span {
  font-size: 0.8rem;
  font-family: inherit;
}

.MuiButtonBase-root {
  margin-top: 20px;
  margin-right: 10px;
}

.circle-green {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: rgb(84, 230, 139);
  border-radius: 50%;
  -webkit-box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(50, 50, 50, 0.75);
  box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(50, 50, 50, 0.75);
}

.circle-red {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: rgb(218, 50, 50);
  border-radius: 50%;
  -webkit-box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(50, 50, 50, 0.75);
  box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(50, 50, 50, 0.75);
}

.green {
  color: rgb(84, 230, 139);
}

.red {
  color: rgb(218, 50, 50);
}